.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-blackjack-row-1, .flex-blackjack-row-2 {
  background-image: url('images/tableBackground.png');
  background-position: center;
  color: #ffff;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  height: 550px;
  flex: 1;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  padding: 10px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

#your-box div{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

#your-box h2{
  display: block;
  width: 100%;
  height: fit-content;
}

#dealer-box h2{
  display: block;
  width: 100%;
  height: fit-content;
}

#your-box img {
  height: 25%;
  margin: 8px;
}

#dealer-box div{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

#dealer-box img {
  height: 25%;
  margin: 8px;
}
